* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
button {
  margin: 10px 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #333;
  transform: matrix();
  gap: 20px;
}

a {
  text-decoration: none;
  padding: 10px;
  color: aqua;
  letter-spacing: 3px;
}

nav .active {
  background-color: #ffffffc7;
  color: #000000;
  transition: 1s;
}

button {
  transition: all .5s ease;
  cursor: pointer;
  color: #000000;
  border: 3px solid rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}

button:hover {
  background-color: #00effc;
  color: #000000;
  transition: 1s;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  /* Height of the footer */
}